<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a class="text-decoration-none" [routerLink]="'/'">Home</a>
        </li>
        <li class="breadcrumb-item active text-primary" aria-current="page">
            Research
        </li>
    </ol>
</nav>
<div class="d-flex flex-wrap gap-3">
    <a class="btn btn-outline-primary px-5" [routerLink]="'./guide-preference'">Guide Preference</a>
    <a class="btn btn-outline-primary px-5" [routerLink]="'./'">DC Details</a>
    <a class="btn btn-outline-primary px-5" [routerLink]="'./'">DC Report</a>
    <a class="btn btn-outline-primary px-5" [routerLink]="'./'">Comprehensive Examination</a>
    <a class="btn btn-outline-primary px-5" [routerLink]="'./'">Research Proposal</a>
    <a class="btn btn-outline-primary px-5" [routerLink]="'./'">Research Seminar</a>
    <a class="btn btn-outline-primary px-5" [routerLink]="'./'">Thesis Submission</a>
</div>